@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff5f5;
  --foreground: #a4b9be;
  --black: #020001;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a4b9be;
    --foreground: #eff5f5;
    --black: #020001;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
